<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.example.mafia.dao">
    <insert id="insert" parameterType="com.example.mafia.domain.Room">
        INSERT INTO room (ROOM_NAME,ROOM_ID,ROOM_COUNT,ROOM_STATUS)
        VALUES (#{roomName}, #{roomId}, 0, #{roomStatus})
    </insert>
    <update id="changeRoomStatus" parameterType="com.example.mafia.domain.Room">
        UPDATE room
        SET ROOM_STATUS = #{roomStatus}
        WHERE ROOM_ID = #{roomId}
    </update>
    <update id="decreaseRoomCount" parameterType="com.example.mafia.domain.Room">
        UPDATE room
        SET ROOM_COUNT = ROOM_COUNT - 1
        WHERE ROOM_ID = #{roomId}
    </update>
    <update id="increaseRoomCount" parameterType="com.example.mafia.domain.Room">
        UPDATE room
        SET ROOM_COUNT = ROOM_COUNT + 1
        WHERE ROOM_ID = #{roomId}
    </update>
    <update id="roomVoteStart" parameterType="String">
        UPDATE room
        SET ROOM_VOTE_YN = 'Y'
        WHERE ROOM_ID = #{roomId}
    </update>
    <update id="roomVoteEnd" parameterType="String">
        UPDATE room
        SET ROOM_VOTE_YN = 'N'
        WHERE ROOM_ID = #{roomId}
    </update>
    <update id="roomMafiaVoteStart" parameterType="String">
        UPDATE room
        SET ROOM_MAFIA_VOTE_YN = 'Y'
        WHERE ROOM_ID = #{roomId}
    </update>
    <update id="roomMafiaVoteEnd" parameterType="String">
        UPDATE room
        SET ROOM_MAFIA_VOTE_YN = 'N'
        WHERE ROOM_ID = #{roomId}
    </update>
    <update id="memberExit" parameterType="com.example.mafia.domain.Room">
        UPDATE room
        SET ROOM_COUNT = #{roomCount}
    </update>
    <delete id="deleteRoom" parameterType="com.example.mafia.domain.Room">
        DELETE FROM room
        WHERE ROOM_ID = #{roomId}
    </delete>
    <delete id="deleteAllRoom">
        DELETE FROM room
    </delete>
    <select id="selectRoomInfo" parameterType="String" resultType="com.example.mafia.domain.Room">
        SELECT
            ROOM_NUMBER AS roomNumber
            ,ROOM_ID AS roomId
            ,ROOM_NAME AS roomName
            ,ROOM_STATUS AS roomStatus
            ,ROOM_COUNT AS roomCount
        FROM room
        WHERE ROOM_ID=#{roomId}
    </select>
    <select id="selectRoomInfoList" resultType="hashmap">
        SELECT
        ROOM_NUMBER AS roomNumber
        ,ROOM_ID AS roomId
        ,ROOM_NAME AS roomName
        ,ROOM_STATUS AS roomStatus
        ,ROOM_COUNT AS roomCount
        FROM room
    </select>
    <select id="selectRoomCount" parameterType="String" resultType="String">
        SELECT ROOM_COUNT FROM room
        WHERE ROOM_ID=#{roomId}
    </select>
    <select id="selectRoomStatus" parameterType="String" resultType="String">
        SELECT ROOM_STATUS FROM room
        WHERE ROOM_ID=#{roomId}
    </select>
</mapper>