<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd">

<mapper namespace="com.example.mafia.dao">
    <insert id="insertVisitLog" parameterType="com.example.mafia.domain.VisitLog">
        INSERT INTO VISIT_LOG (STORE_CODE, STORE_NAME, DAY_OF_WEEK, STORE_NATION, STORE_KIND1, STORE_KIND2, STORE_KIND3, VISIT_TEAM)
        VALUES (#{storeInfo.storeCode}, #{storeInfo.storeName}, #{dayOfWeek}, #{storeInfo.storeNation}, #{storeInfo.storeKind1}, #{storeInfo.storeKind2}, #{storeInfo.storeKind3}, #{visitTeam})
    </insert>
    <select id="selectVisitLogInfo" parameterType="String" resultType="com.example.mafia.domain.Store">
        SELECT
        STORE_CODE AS storeCode
        ,STORE_NAME AS storeName
        ,STORE_WEIGHT AS storeWeight
        ,STORE_WEIGHT_COUNT AS storeWeightCount
        ,STORE_DELIVERY_YN AS storeDeliveryYN
        ,STORE_KIND AS storeKind
        ,STORE_PAYCO_YN AS storePaycoYN
        ,REG_DTTM AS regDttm
        FROM STORE
        WHERE STORE_CODE=#{storeCode}
    </select>
    <select id="selectVisitLogInfoList" parameterType="com.example.mafia.domain.Target" resultType="com.example.mafia.domain.Store">
        SELECT
        STORE_CODE AS storeCode
        ,STORE_NAME AS storeName
        ,STORE_WEIGHT AS storeWeight
        ,STORE_WEIGHT_COUNT AS storeWeightCount
        ,STORE_DELIVERY_YN AS storeDeliveryYN
        ,STORE_NATION AS storeNation
        ,STORE_KIND1 AS storeKind1
        ,STORE_KIND2 AS storeKind2
        ,STORE_KIND3 AS storeKind3
        ,STORE_PAYCO_YN AS storePaycoYN
        ,STORE_COMMENT AS storeComment
        ,STORE_NAVER AS storeNaver
        ,REG_DTTM AS regDttm
        FROM STORE
        WHERE 1=1
        <if test='weekExcept=="Y"'>
            AND STORE_CODE NOT IN
            (
            SELECT STORE_CODE
            FROM VISIT_LOG
            WHERE VISIT_TEAM = #{roomName}
            AND REG_DTTM BETWEEN DATE_ADD(NOW(), interval -7 day) AND NOW()
            )
        </if>
        <if test='!nationAndKinds.isEmpty()'>
            AND 1 = (
            CASE
            WHEN STORE_NATION IN
            <foreach collection="nationAndKinds" item="item" separator=" , " open="(" close=")">#{item}</foreach>
            THEN 1
            WHEN STORE_KIND1 IN
            <foreach collection="nationAndKinds" item="item" separator=" , " open="(" close=")">#{item}</foreach>
            THEN 1
            WHEN STORE_KIND2 IN
            <foreach collection="nationAndKinds" item="item" separator=" , " open="(" close=")">#{item}</foreach>
            THEN 1
            WHEN STORE_KIND3 IN
            <foreach collection="nationAndKinds" item="item" separator=" , " open="(" close=")">#{item}</foreach>
            THEN 1
            ELSE 0
            END
            )
        </if>
    </select>
</mapper>